*{
    margin:0;
    padding: 0;
}
body{
    font-family:'Times New Roman', Times, serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.menu-part{
    background-color: bisque;
}
.alignment{
    width: 80%;
    margin: auto;
}

.menu-part-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu {
    display: flex;
    
}
.menu li{
    position: relative;
    
}
.menu li a{
    padding: 20px 15px;
    display: block;
    font-size: 20px;
    text-transform: capitalize;
    transition: .4s;
}
.menu li a:hover{
    background-color: brown;
    color: white;

}
.menu li:hover .dropdown{
    display: block;
}
.dropdown{
    display: none;
    position: absolute;
    background: bisque;
}
.dropdown li{
   
    position: relative;
    
}
.sub-dropdown{
    display: none;
    position: absolute;
    background: bisque;
    left:100%;
    top:0
}
.dropdown li:hover .sub-dropdown{
    display: block;
}
