*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.banner{
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    height: 70vh;
    background-size:cover;
   
}
p{
    font-size: 14px;
    font-weight: 300;
    opacity: 11;
}
.feature{
    background-image: url('../images/feature_bg.png');
    background-repeat: no-repeat;
    height: 50%;
    background-size:cover;
}
.buy-btn{
    background-color: lightgrey;
}
header{
    margin-bottom: 350px;
}
input{
    background-color: lightblue;
    outline: none;
}

/* card wave css */
.svg-card {
    position: relative;
  }
  .custom-shape-divider-bottom-1645939714 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 1;
  }
  .card-body {
    z-index: 1111;
  }
  
  .custom-shape-divider-bottom-1645939714 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 83px;
  }
  
  .custom-shape-divider-bottom-1645939714 .shape-fill {
    fill: #ecf1f6;
  }
  span.card-icon {
    font-size: 49px;
    background: #f6f3ee;
    padding: 5px 10px;
    border-radius: 15px 15px 1px 15px;
    border: 1px solid #dcd8d8bd;
  }
  span.card-icon-1 {
    font-size: 44px;
    padding: 5px 5px;
    border-radius: 0px 15px 15px 15px;
    border: 1px solid #dcd8d8bd;
  }
  .card-icon-3 {
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 0) 0%,
      rgba(0, 103, 255, 1) 76%,
      rgba(13, 110, 253, 1) 100%
    );
    font-size: 44px;
    padding: 5px 5px;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid #baa2a2;
  }
  i.fa-solid.fa-users.i-3 {
    color: white;
  }
  /* wave css end*/
